/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-primary: #2978b5;
  --color-black: #000000;
  --color-light-grey: #7c7979;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;

  /* animation */
  --animation-duration: 300ms;
}

/* universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 8px 0;
}

p {
  font-size: 16px;
  font-weight: var(--weight-regular);
  margin: 4px 0;
}

/* navbar */
#navbar {
  position: fixed;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: right;
  padding: 2px;
  color: var(--color-black);
  background-color: var(--color-white);
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

.navbar__logo {
  font-size: var(--font-medium);
}
.navbar__menu {
  display: flex;
}
.navbar--dark {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.navbar__menu_items {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  color: var(--color-black);
  border-radius: var(--size-border-radius);
  border: 1px solid var(--color-white);
}
.navbar__menu_items.active {
  border: 1px solid var(--color-black);
}
.navbar__menu_items:hover {
  border: 1px solid var(--color-black);
  border-radius: var(--size-border-radius);
}

.navbar__toggle-btn {
  position: absolute;
  top: 25px;
  right: 32px;
  font-size: 18px;
  color: var(--color-black);
  display: none;
}

/* home */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
#home {
  padding: 40px;
  padding-top: 180px;
  padding-bottom: 120px;
  text-align: center;
  position: relative;
  animation: fadeInDown 1s;
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px 0;
  padding: 8px 12px;
  border: 2px solid black;
  border-radius: 4px;
}
.home__contact:hover {
  background-color: var(--color-primary);
  border: 2px solid white;
  color: var(--color-white);
}
.home__container {
  text-align: left;
  margin-left: 100px;
}
.home__title {
  font-size: 60px;
}
.home__title.name {
  display: inline-flex;
}
.home__title.primary {
  color: var(--color-primary);
}
/* section common */

.section {
  /* padding: 50px; */
  text-align: center;
  margin: auto;
}

.section__container {
  margin: auto;
}
/* about major */
#about .section__container {
  margin: 0;
  background-color: var(--color-primary);
  padding-top: 20px;
  padding-bottom: 40px;
  color: var(--color-white);
}
.about__majors {
  margin: 80px 0;
  display: flex;
  justify-content: space-around;
}
.about {
  width: 70%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  margin: auto;
}
.about img {
  margin-top: 20px;
}
.about_des {
  margin-left: 20px;
  color: white;
}
.about_des p {
  text-align: justify;
}

.profile_avatar {
  width: 300px;
  height: 330px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#skills {
  margin-top: 100px;
}
.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  color: var(--color-blue);
  line-height: 170px;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}
.iconify {
  margin-top: 50px;
}
.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

/* work */
#work {
  margin-top: 120px;
}
.work__categories {
  margin: 40px;
}
.categories_btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
}

.categories_btn.selected,
.categories_btn:hover {
  background-color: var(--color-light-grey);
  color: var(--color-white);
}
.categories_btn.selected .categories__count,
.categories_btn:hover .categories__count {
  opacity: 1;
  top: 0;
}
.categories__count {
  background-color: #659dbd;
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: absolute;
  top: -70px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration);
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}
.work__projects .github_btn {
  border: 1px solid #4d4d4d;
  padding: 5px 10px;
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}
.work__projects .github_btn:hover {
  color: var(--color-light-grey);
}
.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}
.project_filter h2 {
  font-weight: bold;
}
.project_filter span {
  color: var(--color-grey);
  font-size: 14px;
}
.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 280px;
  margin: 4px;
  margin-top: 10px;
  background-color: var(--color-light-white);
}
.project_filter.invisible {
  display: none;
}
.project__img {
  max-width: 100%;
  max-height: 100%;
  align-items: center;
}

#contact {
  margin-top: 120px;
  padding-top: 70px;
  padding-bottom: 90px;
  background-color: var(--color-primary);
}

.contact__title,
.contat__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 20px 0;
}

.contact__links {
  font-size: var(--font-large);
}

.contact__links i {
  transition: all var(--animation-duration) ease-in;
}
.contact__links i:hover {
  transform: scale(1.06);
  color: var(--color-dark-grey);
}

/* scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}
.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
    top: 25px;
    right: 16px;
    font-size: 18px;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-white);
  }
  #navbar.navbar--dark {
    padding: 35px;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .home__container {
    margin: auto;
    text-align: center;
  }
  .home__title.name {
    display: inline-block;
  }

  .section {
    padding-top: 40px;
  }
  .about {
    flex-direction: column;
  }
  .about_des {
    margin-top: 20px;
  }
  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .major {
    margin-bottom: 30px;
  }

  .major__icon {
    margin: auto;
  }
  .skillset {
    flex-direction: column;
  }

  .categories_btn {
    margin: 4px 0;
    width: 100%;
  }
  .project {
    flex-grow: 1;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}
